# Análise exploratória dos dados (EAD)

In [41]:
# Importar bibliotecas necessárias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
# Carregar o dataframe
df_pessoas_final = pd.read_csv('../Data/df_pessoas_final.csv')

In [43]:
# Exibir as primeiras linhas do dataframe para ter uma visão geral
df_pessoas_final.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes,classe_renda
0,268503,2351897,2,4,3,1.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694,0.0
1,268503,2578989,2,15,3,1.0,1.0,1,2,1.0,...,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694,0.0
2,268503,3312847,2,13,3,1.0,1.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694,0.0
3,268503,10482075,2,38,1,1.0,2.0,1,2,1.0,...,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694,0.0
4,2888440,5553031,2,5,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236,0.0

In [44]:
# Obter informações básicas sobre o dataframe, incluindo tipos de dados e contagem de valores não nulos
df_pessoas_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254997 entries, 0 to 254996
Data columns (total 25 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_familia                        254997 non-null  int64
 1   id_pessoa                         254997 non-null  int64
 2   cod_sexo_pessoa                   254997 non-null  int64
 3   idade                             254997 non-null  int64
 4   cod_parentesco_rf_pessoa          254997 non-null  int64
 5   cod_raca_cor_pessoa               254997 non-null  float64
 6   cod_local_nascimento_pessoa       254997 non-null  float64
 7   cod_certidao_registrada_pessoa    254997 non-null  int64
 8   cod_deficiencia_memb              254997 non-null  int64
 9   cod_sabe_ler_escrever_memb        254997 non-null  float64
 10  ind_frequenta_escola_memb         254997 non-null  float64
 11  cod_escola_local_memb             254997 non-null  float64
 12  cod_curso_frequenta_memb          254997 non-null  float64
 13  cod_ano_serie_frequenta_memb      254997 non-null  float64
 14  cod_curso_frequentou_pessoa_memb  254997 non-null  float64
 15  cod_ano_serie_frequentou_memb     254997 non-null  float64
 16  cod_concluiu_frequentou_memb      254997 non-null  float64
 17  cod_trabalhou_memb                254997 non-null  float64
 18  cod_afastado_trab_memb            254997 non-null  float64
 19  cod_agricultura_trab_memb         254997 non-null  float64
 20  cod_principal_trab_memb           254997 non-null  float64
 21  cod_trabalho_12_meses_memb        254997 non-null  float64
 22  qtd_meses_12_meses_memb           254997 non-null  float64
 23  peso.pes                          254997 non-null  int64
 24  classe_renda                      254997 non-null  float64
dtypes: float64(17), int64(8)
memory usage: 48.6 MB

In [45]:
# Estatísticas descritivas para variáveis numéricas
df_pessoas_final.describe()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes,classe_renda
count,2.549970e+05,2.549970e+05,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,...,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,254997.000000,2.549970e+05,254997.000000
mean,2.650282e+06,6.435768e+06,1.569164,26.959419,2.314643,3.050683,1.440923,1.098907,1.948568,1.256666,...,1.488853,0.247932,0.784550,0.335639,-0.340424,-0.258234,0.764833,1.342671,5.321675e+14,0.475119
std,1.518936e+06,3.716377e+06,0.495194,20.422631,1.443034,1.352862,0.501505,0.298984,0.220878,0.436794,...,2.897984,1.300323,1.314041,1.486553,1.330421,1.650929,1.303112,4.611730,1.222824e+14,0.702124
min,1.400000e+01,9.300000e+01,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,5.632281e+11,0.000000
25%,1.359966e+06,3.217506e+06,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,5.632682e+14,0.000000
50%,2.655410e+06,6.441308e+06,2.000000,23.000000,2.000000,4.000000,1.000000,1.000000,2.000000,1.000000,...,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,5.632764e+14,0.000000
75%,3.957500e+06,9.657109e+06,2.000000,41.000000,3.000000,4.000000,2.000000,1.000000,2.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,-1.000000,-1.000000,2.000000,-1.000000,5.632803e+14,1.000000
max,5.290648e+06,1.285253e+07,2.000000,130.000000,11.000000,5.000000,3.000000,3.000000,2.000000,2.000000,...,10.000000,2.000000,2.000000,2.000000,9.000000,11.000000,2.000000,12.000000,5.634188e+14,2.000000

In [35]:
# Estatísticas descritivas para variáveis categóricas
# print(df_pessoas_final.describe(include=['object']))

In [46]:
# Verificar valores ausentes
df_pessoas_final.isnull().sum()

id_familia                          0
id_pessoa                           0
cod_sexo_pessoa                     0
idade                               0
cod_parentesco_rf_pessoa            0
cod_raca_cor_pessoa                 0
cod_local_nascimento_pessoa         0
cod_certidao_registrada_pessoa      0
cod_deficiencia_memb                0
cod_sabe_ler_escrever_memb          0
ind_frequenta_escola_memb           0
cod_escola_local_memb               0
cod_curso_frequenta_memb            0
cod_ano_serie_frequenta_memb        0
cod_curso_frequentou_pessoa_memb    0
cod_ano_serie_frequentou_memb       0
cod_concluiu_frequentou_memb        0
cod_trabalhou_memb                  0
cod_afastado_trab_memb              0
cod_agricultura_trab_memb           0
cod_principal_trab_memb             0
cod_trabalho_12_meses_memb          0
qtd_meses_12_meses_memb             0
peso.pes                            0
classe_renda                        0
dtype: int64

In [37]:
# Incluindo a coluna calsse_renda no df_pessoas_final
# Carregar o arquivo CSV 
df_familia_final = pd.read_csv('../Data/df_familia_final.csv')

In [38]:
df_familia_final.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
1,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,1.0,3.0,2.0,2.0,0.0,2,550282046697327,2646.0,151,0.0
2,3527207,35,3,2,3,2113517,713.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,2,550109644973309,5979.0,482,2.0
3,3303500,33,3,2,2,4419096,50.0,1.0,1.0,3.0,...,1.0,1.0,2.0,2.0,0.0,2,550245146328323,238.0,238,0.0
4,2800308,28,2,2,1,4241219,90.0,1.0,1.0,4.0,...,1.0,1.0,2.0,2.0,0.0,1,550245146328323,5500.0,17,0.0

In [39]:
# Realizar o merge entre df_pessoas_final e df_familia_final para adicionar a coluna 'classe_renda'
# Usando a coluna 'id_familia' como chave para associar
df_pessoas_final = df_pessoas_final.merge(
    df_familia_final[['id_familia', 'classe_renda']],
    on='id_familia',
    how='left'
)

# Verificar se o merge foi realizado corretamente e se a coluna 'classe_renda' está presente
print(f"Número de pessoas no dataframe final: {df_pessoas_final.shape[0]}")
print(f"Número de valores nulos na coluna 'classe_renda': {df_pessoas_final['classe_renda'].isnull().sum()}")
df_pessoas_final.head()

Número de pessoas no dataframe final: 254997
Número de valores nulos na coluna 'classe_renda': 0

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes,classe_renda
0,268503,2351897,2,4,3,1.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694,0.0
1,268503,2578989,2,15,3,1.0,1.0,1,2,1.0,...,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694,0.0
2,268503,3312847,2,13,3,1.0,1.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694,0.0
3,268503,10482075,2,38,1,1.0,2.0,1,2,1.0,...,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694,0.0
4,2888440,5553031,2,5,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236,0.0

In [40]:
df_pessoas_final.to_csv('../Data/df_pessoas_final.csv', index=False)

In [ ]:
# Visualizar a distribuição da variável target (classe_renda)
sns.countplot(x='classe_renda', data=df_pessoas_final)
plt.title('Distribuição das Classes de Renda')
plt.show()

# Importar bibliotecas necessárias
import pandas as pd
from catboost import CatBoostClassifier, Pool
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

# Carregar o dataframe (substitua pelo caminho do seu arquivo, se necessário)
# df_pessoas_final = pd.read_csv('caminho/do/arquivo.csv')

# Definir a variável target e as features
target = 'classe_renda'
features = ['feature1', 'feature2', 'feature3', 'feature4']  # Substitua com as colunas do seu dataframe

# Separar X (features) e y (target)
X = df_pessoas_final[features]
y = df_pessoas_final[target]

# Identificar colunas categóricas (supondo que elas sejam do tipo 'int' e 'object')
categorical_features = X.select_dtypes(include=['int', 'object']).columns.tolist()

# Dividir os dados em conjuntos de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Criar o Pool do CatBoost para lidar com as colunas categóricas
train_pool = Pool(X_train, y_train, cat_features=categorical_features)
test_pool = Pool(X_test, y_test, cat_features=categorical_features)

# Instanciar o modelo CatBoostClassifier
model = CatBoostClassifier(
    iterations=1000,
    learning_rate=0.1,
    depth=6,
    loss_function='MultiClass',
    eval_metric='Accuracy',
    verbose=100,
    random_seed=42
)

# Treinar o modelo
model.fit(train_pool, eval_set=test_pool, early_stopping_rounds=50)

# Fazer previsões no conjunto de teste
y_pred = model.predict(X_test)

# Avaliar o modelo
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

# Exibir a importância das features
feature_importances = model.get_feature_importance(prettified=True)
print("Feature Importances:\n", feature_importances)