In [1]:
import pandas as pd

In [2]:
# Load the datasets
df_pessoas_amostra_100mil_2 = pd.read_csv('../Data/df_pessoas_amostra_100mil_2.csv', sep=',', dtype={23: 'str'})

In [3]:
df_pessoas_amostra_100mil_2.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,5101918,13,2,0,3,1.0,1.0,1,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,563276393161791
1,3227300,25,2,28,2,1.0,2.0,1,2,1.0,...,13.0,NaN,NaN,2.0,2.0,NaN,NaN,2.0,NaN,563266084946143
2,1356,41,2,36,1,1.0,2.0,1,2,1.0,...,4.0,3.0,2.0,1.0,NaN,2.0,1.0,1.0,12.0,563270248202194
3,3509277,52,1,17,1,4.0,2.0,2,2,1.0,...,8.0,1.0,2.0,1.0,NaN,2.0,1.0,1.0,1.0,563284775391464
4,1058041,56,1,47,1,4.0,2.0,1,2,1.0,...,4.0,3.0,2.0,2.0,2.0,NaN,NaN,2.0,NaN,563275906954283

In [4]:
df_pessoas_amostra_100mil_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266689 entries, 0 to 266688
Data columns (total 24 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_familia                        266689 non-null  int64
 1   id_pessoa                         266689 non-null  int64
 2   cod_sexo_pessoa                   266689 non-null  int64
 3   idade                             266689 non-null  int64
 4   cod_parentesco_rf_pessoa          266689 non-null  int64
 5   cod_raca_cor_pessoa               266570 non-null  float64
 6   cod_local_nascimento_pessoa       265561 non-null  float64
 7   cod_certidao_registrada_pessoa    266689 non-null  int64
 8   cod_deficiencia_memb              266689 non-null  int64
 9   cod_sabe_ler_escrever_memb        266659 non-null  float64
 10  ind_frequenta_escola_memb         266654 non-null  float64
 11  cod_escola_local_memb             90093 non-null   float64
 12  cod_curso_frequenta_memb          90776 non-null   float64
 13  cod_ano_serie_frequenta_memb      72668 non-null   float64
 14  cod_curso_frequentou_pessoa_memb  138415 non-null  float64
 15  cod_ano_serie_frequentou_memb     131736 non-null  float64
 16  cod_concluiu_frequentou_memb      131745 non-null  float64
 17  cod_trabalhou_memb                177457 non-null  float64
 18  cod_afastado_trab_memb            118710 non-null  float64
 19  cod_agricultura_trab_memb         58747 non-null   float64
 20  cod_principal_trab_memb           60398 non-null   float64
 21  cod_trabalho_12_meses_memb        177430 non-null  float64
 22  qtd_meses_12_meses_memb           63983 non-null   float64
 23  peso.pes                          266689 non-null  object
dtypes: float64(16), int64(7), object(1)
memory usage: 48.8+ MB

In [5]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_pessoas_amostra_100mil_2['id_pessoa'][df_pessoas_amostra_100mil_2['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [6]:
df_pessoas_amostra_100mil_2.describe()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_ano_serie_frequenta_memb,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb
count,2.666890e+05,2.666890e+05,266689.00000,266689.000000,266689.000000,266570.000000,265561.000000,266689.000000,266689.000000,266659.000000,...,72668.000000,138415.000000,131736.000000,131745.000000,177457.000000,118710.000000,58747.000000,60398.000000,177430.000000,63983.000000
mean,2.671181e+06,6.421298e+06,1.56969,26.827473,2.328979,3.046945,1.440102,1.096708,1.949169,1.255979,...,4.297765,6.194675,4.002733,1.501446,1.668951,1.986092,1.751477,2.258767,1.639390,8.714143
std,1.519063e+06,3.710079e+06,0.49512,20.334092,1.451763,1.353908,0.502575,0.295979,0.219652,0.436411,...,2.552858,2.135159,2.091273,0.500000,0.470592,0.117109,0.432160,1.951236,0.480179,4.072749
min,1.300000e+01,1.300000e+01,1.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.380795e+06,3.211465e+06,1.00000,10.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,2.000000,4.000000,3.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,5.000000
50%,2.677694e+06,6.424818e+06,2.00000,22.000000,3.000000,4.000000,1.000000,1.000000,2.000000,1.000000,...,4.000000,5.000000,3.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,12.000000
75%,3.983315e+06,9.627492e+06,2.00000,41.000000,3.000000,4.000000,2.000000,1.000000,2.000000,2.000000,...,6.000000,8.000000,5.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,12.000000
max,5.290640e+06,1.285257e+07,2.00000,130.000000,11.000000,5.000000,3.000000,3.000000,2.000000,2.000000,...,10.000000,15.000000,10.000000,2.000000,2.000000,2.000000,2.000000,11.000000,2.000000,12.000000

In [7]:
# Mostrando os valores nulos de cada coluna do DataFrame
valores_nulos = df_pessoas_amostra_100mil_2.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                    119
cod_local_nascimento_pessoa           1128
cod_sabe_ler_escrever_memb              30
ind_frequenta_escola_memb               35
cod_escola_local_memb               176596
cod_curso_frequenta_memb            175913
cod_ano_serie_frequenta_memb        194021
cod_curso_frequentou_pessoa_memb    128274
cod_ano_serie_frequentou_memb       134953
cod_concluiu_frequentou_memb        134944
cod_trabalhou_memb                   89232
cod_afastado_trab_memb              147979
cod_agricultura_trab_memb           207942
cod_principal_trab_memb             206291
cod_trabalho_12_meses_memb           89259
qtd_meses_12_meses_memb             202706
dtype: int64

In [8]:
#como os campos relacionadas Ã  escola que a pessoa frequenta sÃ³ devem ser preenchidos caso
# a pessoa frequente escola, ou seja, tenha respondido 1 - Sim, rede pÃºblica, 2 - Sim, rede particular
# para a variÃ¡vel  ind_frequenta_escola_memb, identificar os campos sem preenchimento ligados a respostas
# diferentes de 1 e 2

# Filtrando os casos em que 'ind_frequenta_escola_memb' seja diferente de 1 ou de 2
filtro = df_pessoas_amostra_100mil_2[
    (df_pessoas_amostra_100mil_2['ind_frequenta_escola_memb'] != 1) &
    (df_pessoas_amostra_100mil_2['ind_frequenta_escola_memb'] != 2)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_escola_local_memb",
    "cod_curso_frequenta_memb",
    "cod_ano_serie_frequenta_memb"
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores Ãºnicos: {valores_unicos}")
    print("-" * 40)

Coluna: cod_escola_local_memb
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_curso_frequenta_memb
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_ano_serie_frequenta_memb
Valores Ãºnicos: [nan]
----------------------------------------

In [9]:
#Considerando a regra de preenchimento das variÃ¡veis relacionadas Ã  escola que frequenta, que sÃ³ sÃ£o obrigatÃ³rias
# se a variÃ¡vel "ind_frequenta_escola_memb" for respondida como 1 - Sim, rede pÃºblica, 2 - Sim, rede particular,
# quando preenchimento != 1 & != 2 as variÃ¡veis relacionadas Ã  escola que frequenta foram preenchidas
#como -1

import numpy as np

# Lista das colunas a serem preenchidas
cols_to_fill = ["cod_escola_local_memb",
    "cod_curso_frequenta_memb",
    "cod_ano_serie_frequenta_memb"
]

# CondiÃ§Ã£o: "ind_frequenta_escola_memb" diferente de 1 e de 2
cond = (df_pessoas_amostra_100mil_2['ind_frequenta_escola_memb'] != 1) & \
    (df_pessoas_amostra_100mil_2['ind_frequenta_escola_memb'] != 2)

# Preenchendo os valores NaN com -1 nas colunas especificadas quando a condiÃ§Ã£o for atendida
df_pessoas_amostra_100mil_2.loc[cond, cols_to_fill] = df_pessoas_amostra_100mil_2.loc[cond, cols_to_fill].fillna(-1)

# Verificar se os valores foram preenchidos corretamente
print(df_pessoas_amostra_100mil_2[cols_to_fill].isna().sum())  # Verifica a ausÃªncia de valores nulos

cod_escola_local_memb             696
cod_curso_frequenta_memb           13
cod_ano_serie_frequenta_memb    18121
dtype: int64

In [10]:
#Como o campo cod_ano_serie_frequenta_memb (ano e sÃ©rie que a pessoa frequente) sÃ³ deve
# ser preenchido se pessoa frequenta algum dos cursos  4 - Ensino Fundamental regular (duraÃ§Ã£o 8 anos),
# 5 - Ensino Fundamental regular (duraÃ§Ã£o 9 anos), 6 - Ensino Fundamental especial,
# 7 - Ensino MÃ©dio regular ou 8 - Ensino MÃ©dio especial da pergunta cod_curso_frequenta_memb
# (curso que a pessoa frequenta), avaliar os casos de NaN do campo cod_ano_serie_frequenta_memb
# quando o campo cod_ano_serie_frequenta_memb Ã© Nan.

# Filtrando os casos onde 'cod_ano_serie_frequenta_memb' Ã© NaN
filtro_nan = df_pessoas_amostra_100mil_2['cod_ano_serie_frequenta_memb'].isna()

# Contando os valores de 'cod_curso_frequenta_memb' para os casos onde 'cod_ano_serie_frequenta_memb' Ã© NaN
tipos_resposta = df_pessoas_amostra_100mil_2.loc[filtro_nan, 'cod_curso_frequenta_memb'].value_counts()

# Ordenando os resultados pelos Ã­ndices (os prÃ³prios valores de 'cod_curso_frequenta_memb')
tipos_resposta = tipos_resposta.sort_index()

# Exibindo os tipos de resposta e suas quantidades
print("Tipos de respostas e suas quantidades para 'cod_curso_frequenta_memb' quando 'cod_ano_serie_frequenta_memb' Ã© NaN:")
print(tipos_resposta)

Tipos de respostas e suas quantidades para 'cod_curso_frequenta_memb' quando 'cod_ano_serie_frequenta_memb' Ã© NaN:
cod_curso_frequenta_memb
1.0     5384
2.0     6776
3.0     1645
9.0      262
10.0    1315
11.0     868
12.0      17
13.0    1832
14.0       9
Name: count, dtype: int64

In [11]:
#Considerando que todos os casos de Nan do campo cod_ano_serie_frequenta_memb se referem
# aos casos em que nÃ£o Ã© obrigatÃ³ria a resposta, ou seja, diferente de 4, 5, 6, 7 ou 8,
# os valores NaN serÃ£o substituÃ­dos por -1

# Substituindo valores NaN na coluna 'cod_ano_serie_frequenta_memb' por -1
df_pessoas_amostra_100mil_2['cod_ano_serie_frequenta_memb'].fillna(-1, inplace=True)

# Contando os valores da coluna 'cod_ano_serie_frequenta_memb' apÃ³s a substituiÃ§Ã£o
respostas_quantidade_depois = df_pessoas_amostra_100mil_2['cod_ano_serie_frequenta_memb'].value_counts()

# Exibindo todas as respostas possÃ­veis e a quantidade de cada uma apÃ³s a substituiÃ§Ã£o
print("\nQuantidade de cada resposta na coluna 'cod_ano_serie_frequenta_memb' apÃ³s a substituiÃ§Ã£o de NaN por -1:")

Quantidade de cada resposta na coluna 'cod_ano_serie_frequenta_memb' apÃ³s a substituiÃ§Ã£o de NaN por -1:

In [12]:
#como o preenchimento do campo 'cod_curso_frequentou_pessoa_memb'
# (Curso mais elevado que a pessoa frequentou) sÃ³ Ã© obrigatÃ³rio quando
# o campo 'ind_frequenta_escola_memb' (Pessoa frequenta escola?) for respondido como
# "3 - NÃ£o, jÃ¡ frequentou", avaliar as respostas de 'cod_curso_frequentou_pessoa_memb'
# quando 'ind_frequenta_escola_memb' for diferente de 3

# Filtrando os casos em que 'ind_frequenta_escola_memb' seja diferente de 3
filtro = df_pessoas_amostra_100mil_2[(df_pessoas_amostra_100mil_2['ind_frequenta_escola_memb'] != 3)]

# Lista da coluna a exibir os resultados
coluna_interesse = ['cod_curso_frequentou_pessoa_memb']

# Exibe o valor Ãºnico de cada coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores Ãºnicos: {valores_unicos}")

Coluna: cod_curso_frequentou_pessoa_memb
Valores Ãºnicos: [nan]

In [13]:
#Considerando a regra de preenchimento das variÃ¡veis relacionadas ao curso que frequentou, que sÃ³ Ã© obrigatÃ³rio
# se a variÃ¡vel "ind_frequenta_escola_memb" for respondida como "3 - NÃ£o, jÃ¡ frequentou",
# quando preenchimento != 3 a variÃ¡vel relacionada ao curso que frequentou foi preenchida como -1

# Lista da coluna a ser preenchida
col_to_fill = ["cod_curso_frequentou_pessoa_memb"]

# CondiÃ§Ã£o: "ind_frequenta_escola_memb" diferente de 3
cond = (df_pessoas_amostra_100mil_2['ind_frequenta_escola_memb'] != 3)

# Preenchendo os valores NaN com -1 na coluna especificada quando a condiÃ§Ã£o for atendida
df_pessoas_amostra_100mil_2.loc[cond, col_to_fill] = df_pessoas_amostra_100mil_2.loc[cond, col_to_fill].fillna(-1)

In [14]:
# Contando a frequÃªncia de cada valor Ãºnico na coluna 'cod_curso_frequentou_pessoa_memb', incluindo NaN
frequencia_respostas = df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'].value_counts(dropna=False)

# Ordenando os resultados pelos Ã­ndices (os prÃ³prios valores de 'cod_curso_frequentou_pessoa_memb')
frequencia_respostas = frequencia_respostas.sort_index()

# Exibindo os valores Ãºnicos e suas frequÃªncias
print("FrequÃªncia de cada resposta na coluna 'cod_curso_frequentou_pessoa_memb', ordenada pelos valores:")
print(frequencia_respostas)

FrequÃªncia de cada resposta na coluna 'cod_curso_frequentou_pessoa_memb', ordenada pelos valores:
cod_curso_frequentou_pessoa_memb
-1.0     128257
 1.0        100
 2.0         93
 3.0        948
 4.0      37218
 5.0      35261
 6.0       6594
 7.0        668
 8.0      51022
 9.0        981
 10.0       596
 11.0      1077
 12.0       599
 13.0      2889
 14.0       203
 15.0       166
 NaN         17
Name: count, dtype: int64

In [15]:
#como os campos cod_ano_serie_frequentou_memb e cod_concluiu_frequentou_memb sÃ³ devem ser preenchidos caso
# a pessoa frequentou algum dos cursos 4 - Ensino Fundamental 1Âª a 4Âª sÃ©ries, Elementar (PrimÃ¡rio), Primeira fase do 1Âº grau,
# 5 - Ensino Fundamental 5Âª a 8Âª sÃ©ries, MÃ©dio 1Âº ciclo (Ginasial), Segunda fase do 1Âº grau,
# 6 - Ensino Fundamental (duraÃ§Ã£o 9 anos), 7 - Ensino Fundamental Especial,
# 8 - Ensino MÃ©dio, 2Âº grau, MÃ©dio 2Âº ciclo (CientÃ­fico, ClÃ¡ssico, TÃ©cnico, Normal),
# 9 - Ensino MÃ©dio Especial na questÃ£o anterior (cod_curso_frequentou_pessoa_memb),
# identificar os campos sem preenchimento ligados a respostas do campo anterior:

# Filtrando os casos em que 'cod_curso_frequentou_pessoa_memb' seja diferente de 4, 5, 6, 7, 8 ou 9
filtro = df_pessoas_amostra_100mil_2[
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 4) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 5) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 6) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 7) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 8) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 9)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_ano_serie_frequentou_memb",
    "cod_concluiu_frequentou_memb"
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_ano_serie_frequentou_memb
FrequÃªncia de valores Ãºnicos:
cod_ano_serie_frequentou_memb
NaN    134944
3.0         1
Name: count, dtype: int64
----------------------------------------
Coluna: cod_concluiu_frequentou_memb
FrequÃªncia de valores Ãºnicos:
cod_concluiu_frequentou_memb
NaN    134944
1.0         1
Name: count, dtype: int64
----------------------------------------

In [16]:
# Lista das colunas que queremos substituir os valores NaN por -1
colunas_para_substituir = ["cod_ano_serie_frequentou_memb", "cod_concluiu_frequentou_memb"]

# Definindo a condiÃ§Ã£o para quando 'cod_curso_frequentou_pessoa_memb' nÃ£o for 4, 5, 6, 7, 8 ou 9
condicao = (
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 4) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 5) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 6) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 7) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 8) &
    (df_pessoas_amostra_100mil_2['cod_curso_frequentou_pessoa_memb'] != 9)
)

# Substituindo os valores NaN por -1 nas colunas especificadas quando a condiÃ§Ã£o Ã© atendida
df_pessoas_amostra_100mil_2.loc[condicao, colunas_para_substituir] = df_pessoas_amostra_100mil_2.loc[condicao, colunas_para_substituir].fillna(-1)

# Verificando se os valores foram preenchidos corretamente
print("Valores substituÃ­dos nas colunas:")
for coluna in colunas_para_substituir:
    print(f"{coluna} - Valores Ãºnicos: {df_pessoas_amostra_100mil_2[coluna].unique()}")

Valores substituÃ­dos nas colunas:
cod_ano_serie_frequentou_memb - Valores Ãºnicos: [-1.  3.  1.  4.  5.  7.  6.  8.  2.  9. 10. nan]
cod_concluiu_frequentou_memb - Valores Ãºnicos: [-1.  2.  1.]

In [17]:
# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_2.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                    119
cod_local_nascimento_pessoa           1128
cod_sabe_ler_escrever_memb              30
ind_frequenta_escola_memb               35
cod_escola_local_memb                  696
cod_curso_frequenta_memb                13
cod_curso_frequentou_pessoa_memb        17
cod_ano_serie_frequentou_memb            9
cod_trabalhou_memb                   89232
cod_afastado_trab_memb              147979
cod_agricultura_trab_memb           207942
cod_principal_trab_memb             206291
cod_trabalho_12_meses_memb           89259
qtd_meses_12_meses_memb             202706
dtype: int64

In [18]:
#Os campos de trabalho sÃ³ devem ser respondidos quando idade for maior ou igual a 14 anos. Desta forma, avaliar
# o preenchimento dos campos "cod_trabalhou_memb", "cod_afastado_trab_memb", "cod_agricultura_trab_memb",
# "cod_principal_trab_memb", "cod_trabalho_12_meses_memb", "qtd_meses_12_meses_memb", "categoria_qtd_meses" com idade
# menor que 14 anos

# Filtrando os casos em que 'idade' seja < 14
filtro = (df_pessoas_amostra_100mil_2['idade'] < 14)

# Lista das colunas que queremos exibir os resultados
colunas_interesse = [
    "cod_trabalhou_memb",
    "cod_afastado_trab_memb",
    "cod_agricultura_trab_memb",
    "cod_principal_trab_memb",
    "cod_trabalho_12_meses_memb",
    "qtd_meses_12_meses_memb",
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    # Filtrando o DataFrame pelas linhas onde 'idade' < 14 e obtendo as contagens de valores
    valores_unicos = df_pessoas_amostra_100mil_2.loc[filtro, coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_trabalhou_memb
FrequÃªncia de valores Ãºnicos:
cod_trabalhou_memb
NaN    88564
Name: count, dtype: int64
----------------------------------------
Coluna: cod_afastado_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_afastado_trab_memb
NaN    88564
Name: count, dtype: int64
----------------------------------------
Coluna: cod_agricultura_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_agricultura_trab_memb
NaN    88564
Name: count, dtype: int64
----------------------------------------
Coluna: cod_principal_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_principal_trab_memb
NaN    88564
Name: count, dtype: int64
----------------------------------------
Coluna: cod_trabalho_12_meses_memb
FrequÃªncia de valores Ãºnicos:
cod_trabalho_12_meses_memb
NaN    88564
Name: count, dtype: int64
----------------------------------------
Coluna: qtd_meses_12_meses_memb
FrequÃªncia de valores Ãºnicos:
qtd_meses_12_meses_memb
NaN    88564
Name: count, dtype: int64
----------------------------------------

In [19]:
#Substituir todos os valores nan por -1 das colunas avaliadas quando idade <14

# Filtrando os casos em que 'idade' seja < 14
filtro = (df_pessoas_amostra_100mil_2['idade'] < 14)

# Lista das colunas nas quais queremos substituir os NaN
colunas_interesse = [
    "cod_trabalhou_memb",
    "cod_afastado_trab_memb",
    "cod_agricultura_trab_memb",
    "cod_principal_trab_memb",
    "cod_trabalho_12_meses_memb",
    "qtd_meses_12_meses_memb"]

# Substituindo os valores NaN por -1 nas colunas de interesse quando a condiÃ§Ã£o do filtro Ã© verdadeira
df_pessoas_amostra_100mil_2.loc[filtro, colunas_interesse] = df_pessoas_amostra_100mil_2.loc[filtro, colunas_interesse].fillna(-1)

# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_2.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                    119
cod_local_nascimento_pessoa           1128
cod_sabe_ler_escrever_memb              30
ind_frequenta_escola_memb               35
cod_escola_local_memb                  696
cod_curso_frequenta_memb                13
cod_curso_frequentou_pessoa_memb        17
cod_ano_serie_frequentou_memb            9
cod_trabalhou_memb                     668
cod_afastado_trab_memb               59415
cod_agricultura_trab_memb           119378
cod_principal_trab_memb             117727
cod_trabalho_12_meses_memb             695
qtd_meses_12_meses_memb             114142
dtype: int64

In [20]:
# O campo 'cod_afastado_trab_memb' sÃ³ deve ser respondido se 'cod_trabalhou_memb'
# (Pessoa trabalhou na semana passada?) for respondido como 2 - NÃ£o)

# Filtrando os casos em que 'cod_trabalhou_memb' seja diferente de 2
filtro = df_pessoas_amostra_100mil_2[(df_pessoas_amostra_100mil_2['cod_trabalhou_memb'] != 2)]

# Lista da coluna a exibir os resultados
coluna_interesse = 'cod_afastado_trab_memb'

# Contando os valores, incluindo NaN
valores_contagem = filtro[coluna_interesse].value_counts(dropna=False)  # dropna=False inclui NaN

# Exibindo o resultado
print(f"FrequÃªncia de valores para '{coluna_interesse}' quando 'cod_trabalhou_memb' nÃ£o Ã© 2:")
print(valores_contagem)

FrequÃªncia de valores para 'cod_afastado_trab_memb' quando 'cod_trabalhou_memb' nÃ£o Ã© 2:
cod_afastado_trab_memb
-1.0    88564
 NaN    59415
Name: count, dtype: int64

In [21]:
# Substituir os valores NaN de 'cod_afastado_trab_memb' por -1 quando 'cod_trabalhou_memb' Ã© diferente de 2

# Lista da coluna a ser preenchida
col_to_fill = ["cod_afastado_trab_memb"]

# CondiÃ§Ã£o: "ind_frequenta_escola_memb" diferente de 3
cond = (df_pessoas_amostra_100mil_2['cod_trabalhou_memb'] != 2)

# Preenchendo os valores NaN com -1 na coluna especificada quando a condiÃ§Ã£o for atendida
df_pessoas_amostra_100mil_2.loc[cond, col_to_fill] = df_pessoas_amostra_100mil_2.loc[cond, col_to_fill].fillna(-1)

In [22]:
# O campo cod_agricultura_trab_memb (Ã‰ atividade extrativista? 1 - Sim e 2 - NÃ£o) e o campo
# cod_principal_trab_memb sÃ³ sÃ£o obrigatÃ³rios se a pessoa respondeu 1 - Sim no campo
# cod_trabalhou_memb (Pessoa trabalhou na semana passada?)
# ou cod_afastado_trab_memb (Pessoa afastada na semana passada?).

# Filtrando os casos em que campo 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' seja diferente de 1
filtro = df_pessoas_amostra_100mil_2[
    (df_pessoas_amostra_100mil_2['cod_trabalhou_memb'] != 1) &
    (df_pessoas_amostra_100mil_2['cod_afastado_trab_memb'] != 1)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_agricultura_trab_memb",
"cod_principal_trab_memb"]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_agricultura_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_agricultura_trab_memb
 NaN    117727
-1.0     88564
Name: count, dtype: int64
----------------------------------------
Coluna: cod_principal_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_principal_trab_memb
 NaN    117727
-1.0     88564
Name: count, dtype: int64
----------------------------------------

In [23]:
#Substituindo por -1 os valores NaN de "cod_agricultura_trab_memb" e "cod_principal_trab_memb"
# quando 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' Ã© diferente de 1

# Definindo o filtro para casos onde 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' sÃ£o diferentes de 1
filtro = (df_pessoas_amostra_100mil_2['cod_trabalhou_memb'] != 1) & (df_pessoas_amostra_100mil_2['cod_afastado_trab_memb'] != 1)

# Substituindo os valores NaN das colunas 'cod_agricultura_trab_memb' e 'cod_principal_trab_memb' por -1 onde o filtro Ã© verdadeiro
df_pessoas_amostra_100mil_2.loc[filtro, 'cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil_2.loc[filtro, 'cod_agricultura_trab_memb'].fillna(-1)
df_pessoas_amostra_100mil_2.loc[filtro, 'cod_principal_trab_memb'] = df_pessoas_amostra_100mil_2.loc[filtro, 'cod_principal_trab_memb'].fillna(-1)

# Exibindo os valores Ãºnicos de cada coluna apÃ³s a substituiÃ§Ã£o
valores_unicos_agricultura = df_pessoas_amostra_100mil_2['cod_agricultura_trab_memb'].value_counts(dropna=False)
valores_unicos_principal = df_pessoas_amostra_100mil_2['cod_principal_trab_memb'].value_counts(dropna=False)

print("FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:")
print(valores_unicos_agricultura)
print("\nFrequÃªncia de valores Ãºnicos na coluna 'cod_principal_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:")
print(valores_unicos_principal)

FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:
cod_agricultura_trab_memb
-1.0    206291
 2.0     44147
 1.0     14600
 NaN      1651
Name: count, dtype: int64

FrequÃªncia de valores Ãºnicos na coluna 'cod_principal_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:
cod_principal_trab_memb
-1.0     206291
 1.0      34808
 4.0      10563
 2.0       7899
 3.0       1817
 8.0       1687
 7.0       1473
 5.0       1047
 6.0        541
 10.0       281
 11.0       240
 9.0         42
Name: count, dtype: int64

In [24]:
# Filtrando os casos onde 'cod_agricultura_trab_memb' Ã© igual a NaN
filtro_cod_especie = df_pessoas_amostra_100mil_2['cod_agricultura_trab_memb'].isna()

# Contando os valores da coluna 'cod_principal_trab_memb' apenas para o filtro aplicado
resultados_quantidade = df_pessoas_amostra_100mil_2.loc[filtro_cod_especie, 'cod_principal_trab_memb'].value_counts(dropna=False)

# Ordenando os resultados em ordem crescente dos Ã­ndices (valores Ãºnicos)
resultados_quantidade = resultados_quantidade.sort_index()

# Exibindo os resultados ordenados
print("Resultados possÃ­veis e quantidade de cada resposta em 'cod_principal_trab_memb' quando 'cod_agricultura_trab_memb' Ã© NaN:")
print(resultados_quantidade)

Resultados possÃ­veis e quantidade de cada resposta em 'cod_principal_trab_memb' quando 'cod_agricultura_trab_memb' Ã© NaN:
cod_principal_trab_memb
1.0     738
2.0     426
3.0      21
4.0     334
5.0      12
6.0      15
7.0      66
8.0      32
10.0      3
11.0      4
Name: count, dtype: int64

In [25]:
# Considerando que a resposta de 'cod_principal_trab_memb' == 2 significa Trabalhador temporÃ¡rio em Ã¡rea rural
# Os casos de NaN para 'cod_agricultura_trab_memb' quando 'cod_principal_trab_memb' == 2 serÃ£o alterados
# para 1 - Sim. Os demais casos serÃ£o substituÃ­dos por 9 - Desconhecido.

# Definindo o filtro para casos onde 'cod_principal_trab_memb' Ã© igual a 2
filtro = df_pessoas_amostra_100mil_2['cod_principal_trab_memb'] == 2

# Substituindo os valores NaN da coluna 'cod_agricultura_trab_memb' por 1 onde o filtro Ã© verdadeiro
df_pessoas_amostra_100mil_2.loc[filtro, 'cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil_2.loc[filtro, 'cod_agricultura_trab_memb'].fillna(1)

# Substituindo os valores NaN restantes por 9 nos casos onde o filtro Ã© falso
df_pessoas_amostra_100mil_2['cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil_2['cod_agricultura_trab_memb'].fillna(9)

# Exibindo os valores Ãºnicos da coluna apÃ³s a substituiÃ§Ã£o
valores_unicos_agricultura = df_pessoas_amostra_100mil_2['cod_agricultura_trab_memb'].value_counts(dropna=False)

print("FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN:")
print(valores_unicos_agricultura)

FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN:
cod_agricultura_trab_memb
-1.0    206291
 2.0     44147
 1.0     15026
 9.0      1225
Name: count, dtype: int64

In [26]:
# O campo qtd_meses_12_meses_memb (Quantidade de meses trabalhados nos Ãºltimos 12 meses)
# sÃ³ Ã© obrigatÃ³rio se a pessoa tiver respondido 1 - Sim  no campo cod_trabalho_12_meses_memb
#(Pessoa com trabalho remunerado em algum perÃ­odo nos Ãºltimo 12 meses)

# Filtrando os casos em que campo 'cod_trabalho_12_meses_memb' seja diferente de 1
filtro = df_pessoas_amostra_100mil_2[
    (df_pessoas_amostra_100mil_2['cod_trabalho_12_meses_memb'] != 1)
]

# Lista da coluna que queremos exibir os resultados
coluna_interesse = ["qtd_meses_12_meses_memb"]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: qtd_meses_12_meses_memb
FrequÃªncia de valores Ãºnicos:
qtd_meses_12_meses_memb
 NaN    114142
-1.0     88564
Name: count, dtype: int64
----------------------------------------

In [27]:
#Substituindo por -1 os valores NaN de "qtd_meses_12_meses_memb"
# quando 'cod_trabalho_12_meses_memb' Ã© diferente de 1

# Definindo o filtro para casos onde 'cod_trabalho_12_meses_memb' Ã© diferente de 1
filtro = (df_pessoas_amostra_100mil_2['cod_trabalho_12_meses_memb'] != 1)

# Substituindo os valores NaN da coluna 'qtd_meses_12_meses_memb' por -1 onde o filtro Ã© verdadeiro
df_pessoas_amostra_100mil_2.loc[filtro, 'qtd_meses_12_meses_memb'] = df_pessoas_amostra_100mil_2.loc[filtro, 'qtd_meses_12_meses_memb'].fillna(-1)


# Exibindo os valores Ãºnicos da coluna apÃ³s a substituiÃ§Ã£o
valores_unicos_meses = df_pessoas_amostra_100mil_2['qtd_meses_12_meses_memb'].value_counts(dropna=False)


print("FrequÃªncia de valores Ãºnicos na coluna 'qtd_meses_12_meses_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:")
print(valores_unicos_meses)

FrequÃªncia de valores Ãºnicos na coluna 'qtd_meses_12_meses_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:
qtd_meses_12_meses_memb
-1.0     202706
 12.0     33803
 1.0       4231
 10.0      3999
 2.0       3982
 6.0       3950
 3.0       3748
 5.0       2875
 4.0       2656
 8.0       1814
 7.0       1223
 9.0       1001
 11.0       701
Name: count, dtype: int64

In [28]:
# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_2.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                  119
cod_local_nascimento_pessoa         1128
cod_sabe_ler_escrever_memb            30
ind_frequenta_escola_memb             35
cod_escola_local_memb                696
cod_curso_frequenta_memb              13
cod_curso_frequentou_pessoa_memb      17
cod_ano_serie_frequentou_memb          9
cod_trabalhou_memb                   668
cod_trabalho_12_meses_memb           695
dtype: int64

In [29]:
# Calculando o percentual de valores NaN em cada coluna
percentual_nan = df_pessoas_amostra_100mil_2.isna().mean() * 100

# Exibindo o percentual de valores NaN por coluna
print("Percentual de valores NaN em cada coluna do df_pessoas_amostra_100mil:")
print(percentual_nan)

Percentual de valores NaN em cada coluna do df_pessoas_amostra_100mil:
id_familia                          0.000000
id_pessoa                           0.000000
cod_sexo_pessoa                     0.000000
idade                               0.000000
cod_parentesco_rf_pessoa            0.000000
cod_raca_cor_pessoa                 0.044621
cod_local_nascimento_pessoa         0.422965
cod_certidao_registrada_pessoa      0.000000
cod_deficiencia_memb                0.000000
cod_sabe_ler_escrever_memb          0.011249
ind_frequenta_escola_memb           0.013124
cod_escola_local_memb               0.260978
cod_curso_frequenta_memb            0.004875
cod_ano_serie_frequenta_memb        0.000000
cod_curso_frequentou_pessoa_memb    0.006374
cod_ano_serie_frequentou_memb       0.003375
cod_concluiu_frequentou_memb        0.000000
cod_trabalhou_memb                  0.250479
cod_afastado_trab_memb              0.000000
cod_agricultura_trab_memb           0.000000
cod_principal_trab_memb             0.000000
cod_trabalho_12_meses_memb          0.260603
qtd_meses_12_meses_memb             0.000000
peso.pes                            0.000000
dtype: float64

In [30]:
# Considernado que as linhas com valores NaN remanescentes nÃ£o foram associadas a nenhuma 
# regra de preenchimento do cadastro Ãºnico e que sÃ£o pouco representativas no universo da 
# amostra, optpu-se por excluir os valores NaN remanescentes da base de famÃ­lias

# Excluir todas as linhas com algum valor NaN
df_pessoas_amostra_100mil_limpa_2 = df_pessoas_amostra_100mil_2.dropna()

# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_limpa_2.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
Series([], dtype: int64)

In [31]:
df_pessoas_amostra_100mil_limpa_2.shape

(264026, 24)

In [32]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_pessoas_amostra_100mil_limpa_2['id_pessoa'][df_pessoas_amostra_100mil_limpa_2['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [33]:
# Load the datasets familia
df_fam_amostra_100mil_limpa_2 = pd.read_csv('../Data/df_fam_amostra_100mil_limpa_2.csv')

In [34]:
#juntando as duas bases
# Realizar o merge das duas bases usando a chave 'id_familia'
df_fam_pessoas_amostra_100mil_limpa_2 = pd.merge(df_fam_amostra_100mil_limpa_2, df_pessoas_amostra_100mil_limpa_2, 
                     on='id_familia', 
                     how='inner')

In [35]:
df_fam_pessoas_amostra_100mil_limpa_2.shape

(263902, 51)

In [36]:
df_fam_pessoas_amostra_100mil_limpa_2.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,5.0,5.0,2.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563253083138481
1,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563253083138481
2,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563253083138481
3,2516607,25,2,1,3,697587,937.0,2.0,1.0,6.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563276925444753
4,2312908,23,2,2,3,3807697,66.0,1.0,1.0,4.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563276393161791

In [37]:
df_fam_pessoas_amostra_100mil_limpa_2.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'idade', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
       'cod_escola_local_memb', 'cod_curso_frequenta_memb',
       'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [38]:
# Avaliando se alguma famÃ­lia ficou com o nÃºmero de pessoas menor do que o previsto no campo qtd_pessoas

# 1. Contar o nÃºmero de IDs de pessoas diferentes para cada 'id_familia'
contagem_pessoas = df_fam_pessoas_amostra_100mil_limpa_2.groupby('id_familia')['id_pessoa'].nunique().reset_index()

# Renomear a coluna para algo mais descritivo
contagem_pessoas.rename(columns={'id_pessoa': 'num_id_pessoas'}, inplace=True)

# 2. Juntar os dados da contagem com o dataframe original
# Supondo que 'qtde_pessoas' esteja no mesmo dataframe e corresponda ao 'id_familia'
resultado_comparacao = pd.merge(contagem_pessoas, df_fam_pessoas_amostra_100mil_limpa_2[['id_familia', 'qtde_pessoas']],
                                 on='id_familia', how='left')

# 3. Comparar os valores
resultado_comparacao['diferenca'] = resultado_comparacao['qtde_pessoas'] - resultado_comparacao['num_id_pessoas']

# Exibir os resultados
print(resultado_comparacao[['id_familia', 'qtde_pessoas', 'num_id_pessoas', 'diferenca']].head(10))

# Opcional: Analisar quantas famÃ­lias tÃªm diferenÃ§a nos nÃºmeros
familias_com_diferenca = resultado_comparacao[resultado_comparacao['diferenca'] != 0]
print(f"NÃºmero de famÃ­lias com diferenÃ§a: {len(familias_com_diferenca)}")

   id_familia  qtde_pessoas  num_id_pessoas  diferenca
0          13             5               5          0
1          13             5               5          0
2          13             5               5          0
3          13             5               5          0
4          13             5               5          0
5         190             2               2          0
6         190             2               2          0
7         205             1               1          0
8         259             4               4          0
9         259             4               4          0
NÃºmero de famÃ­lias com diferenÃ§a: 9178

In [39]:
# 1. Identificar as id_familia com diferenÃ§a > 0
id_familias_com_diferenca = resultado_comparacao[resultado_comparacao['diferenca'] > 0]['id_familia']

# 2. Excluir essas id_familia do dataframe original
df_fam_pessoas_amostra_100mil_limpa_2 = df_fam_pessoas_amostra_100mil_limpa_2[~df_fam_pessoas_amostra_100mil_limpa_2['id_familia'].isin(id_familias_com_diferenca)]

# 3. Exibir o nÃºmero de linhas restantes apÃ³s a exclusÃ£o
numero_linhas_restantes = df_fam_pessoas_amostra_100mil_limpa_2.shape[0]
print(f"NÃºmero de linhas restantes apÃ³s excluir famÃ­lias com diferenÃ§a > 0: {numero_linhas_restantes}")

NÃºmero de linhas restantes apÃ³s excluir famÃ­lias com diferenÃ§a > 0: 254724

In [40]:
df_fam_pessoas_amostra_100mil_limpa_2.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,5.0,5.0,2.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563253083138481
1,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563253083138481
2,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563253083138481
3,2516607,25,2,1,3,697587,937.0,2.0,1.0,6.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563276925444753
4,2312908,23,2,2,3,3807697,66.0,1.0,1.0,4.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563276393161791

In [41]:
df_fam_pessoas_amostra_100mil_limpa_2.shape

(254724, 51)

In [42]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_fam_pessoas_amostra_100mil_limpa_2['id_pessoa'][df_fam_pessoas_amostra_100mil_limpa_2['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [43]:
#Separando novamente as duas bases

# 1. Listar as colunas que queremos manter de cada dataframe original
colunas_pessoas = df_pessoas_amostra_100mil_limpa_2.columns.tolist()
colunas_familia = df_fam_amostra_100mil_limpa_2.columns.tolist()

# 2. Criar um dataframe para as pessoas a partir da base limpa, mantendo apenas as colunas desejadas
df_pessoas_final_2 = df_fam_pessoas_amostra_100mil_limpa_2[colunas_pessoas]

# 3. Criar um dataframe para as famÃ­lias a partir da base limpa, mantendo apenas as colunas desejadas
df_familia_final_2 = df_fam_pessoas_amostra_100mil_limpa_2[colunas_familia]

In [44]:
df_pessoas_final_2.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,2297048,5080082,2,24,1,4.0,2.0,1,2,1.0,...,5.0,5.0,2.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563253083138481
1,2297048,6871939,2,5,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563253083138481
2,2297048,12839729,1,2,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563253083138481
3,697587,4991136,1,84,1,4.0,1.0,1,2,2.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563276925444753
4,3807697,1628136,2,24,1,4.0,2.0,1,2,1.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563276393161791

In [45]:
df_familia_final_2.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,1.0,2.0,2.0,2.0,0.0,3,550128323898416,2478.0,382,0.0
1,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,1.0,2.0,2.0,2.0,0.0,3,550128323898416,2478.0,382,0.0
2,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,1.0,2.0,2.0,2.0,0.0,3,550128323898416,2478.0,382,0.0
3,2516607,25,2,1,3,697587,937.0,2.0,1.0,6.0,...,1.0,3.0,2.0,2.0,0.0,1,550245146328323,483.0,483,2.0
4,2312908,23,2,2,3,3807697,66.0,1.0,1.0,4.0,...,1.0,2.0,2.0,2.0,0.0,3,550245146328323,1118.0,144,0.0

In [46]:
# Identificar IDs de familia que se repetem
ids_repetidos = df_familia_final_2['id_familia'][df_familia_final_2['id_familia'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de familia repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de familia repetidos.')

Existem IDs de familia repetidos. Os IDs repetidos sÃ£o:
1         2297048
2         2297048
5         3807697
6         3807697
8         3322305
           ...
263894    4217366
263895    4217366
263897    3538036
263899    1022394
263901    2142533
Name: id_familia, Length: 158210, dtype: int64

In [47]:
# 1. Identificar os IDs de famÃ­lia que se repetem
familias_repetidas = df_familia_final_2['id_familia'][df_familia_final_2['id_familia'].duplicated(keep=False)]

# 2. Filtrar o dataframe para mostrar todas as colunas dos casos de famÃ­lias repetidas
casos_familias_repetidas = df_familia_final_2[df_familia_final_2['id_familia'].isin(familias_repetidas)]

# 3. Exibir o resultado (todas as colunas dos casos repetidos)
casos_familias_repetidas.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,1.0,2.0,2.0,2.0,0.0,3,550128323898416,2478.0,382,0.0
1,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,1.0,2.0,2.0,2.0,0.0,3,550128323898416,2478.0,382,0.0
2,2708501,27,2,2,3,2297048,40.0,1.0,1.0,5.0,...,1.0,2.0,2.0,2.0,0.0,3,550128323898416,2478.0,382,0.0
4,2312908,23,2,2,3,3807697,66.0,1.0,1.0,4.0,...,1.0,2.0,2.0,2.0,0.0,3,550245146328323,1118.0,144,0.0
5,2312908,23,2,2,3,3807697,66.0,1.0,1.0,4.0,...,1.0,2.0,2.0,2.0,0.0,3,550245146328323,1118.0,144,0.0

In [49]:
# Ajuste para garantir que cada 'id_familia' apareÃ§a apenas uma vez no df_familia_final

# 1. Listar as colunas que queremos manter de cada dataframe original
colunas_pessoas = df_pessoas_amostra_100mil_limpa_2.columns.tolist()
colunas_familia = df_fam_amostra_100mil_limpa_2.columns.tolist()

# 2. Criar um dataframe para as pessoas a partir da base limpa, mantendo apenas as colunas desejadas
df_pessoas_final_2 = df_fam_pessoas_amostra_100mil_limpa_2[colunas_pessoas]

# 3. Criar um dataframe para as famÃ­lias a partir da base limpa, mantendo apenas as colunas desejadas
# Utilizar drop_duplicates para garantir que cada 'id_familia' apareÃ§a apenas uma vez
df_familia_final_2 = df_fam_pessoas_amostra_100mil_limpa_2[colunas_familia].drop_duplicates(subset=['id_familia'])

# Exibir o nÃºmero de linhas restantes apÃ³s a remoÃ§Ã£o de duplicados
print(f"NÃºmero de famÃ­lias no dataframe final: {df_familia_final_2.shape[0]}")

NÃºmero de famÃ­lias no dataframe final: 96514

In [50]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_pessoas_final_2['id_pessoa'][df_pessoas_final_2['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [51]:
# Identificar IDs de familia que se repetem
ids_repetidos = df_familia_final_2['id_familia'][df_familia_final_2['id_familia'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de familia repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de familia repetidos.')

NÃ£o existem IDs de familia repetidos.

In [52]:
# Salvar o dataframe df_pessoas_amostra_100mil_limpa em um arquivo CSV com o nome desejado
df_fam_pessoas_amostra_100mil_limpa_2.to_csv('../Data/df_familia_pessoa_final_2.csv', index=False)

In [53]:
# Salvando os arquivos finais de df_familia_final e df_pessoa_final
df_familia_final_2.to_csv('../Data/df_familia_final_2.csv', index=False)
df_pessoas_final_2.to_csv('../Data/df_pessoas_final_2.csv', index=False)