# Base de dados família

In [98]:
import pandas as pd

In [99]:
# Load the datasets
df_fam = pd.read_csv('./Data/df_familia_final.csv', sep=',', dtype={23: 'str'})

In [100]:
df_fam.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
1,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,1.0,3.0,2.0,2.0,0.0,2,550282046697327,2646.0,151,0.0
2,3527207,35,3,2,3,2113517,713.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,2,550109644973309,5979.0,482,2.0
3,3303500,33,3,2,2,4419096,50.0,1.0,1.0,3.0,...,1.0,1.0,2.0,2.0,0.0,2,550245146328323,238.0,238,0.0
4,2800308,28,2,2,1,4241219,90.0,1.0,1.0,4.0,...,1.0,1.0,2.0,2.0,0.0,1,550245146328323,5500.0,17,0.0

In [101]:
df_fam.shape

(96502, 28)

In [102]:
df_fam.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda'],
      dtype='object')

In [103]:
df_fam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96502 entries, 0 to 96501
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cd_ibge                        96502 non-null  int64
 1   uf_ibge                        96502 non-null  int64
 2   regiao_ibge                    96502 non-null  int64
 3   estrato                        96502 non-null  int64
 4   classf                         96502 non-null  int64
 5   id_familia                     96502 non-null  int64
 6   vlr_renda_media_fam            96502 non-null  float64
 7   cod_local_domic_fam            96502 non-null  float64
 8   cod_especie_domic_fam          96502 non-null  float64
 9   qtd_comodos_domic_fam          96502 non-null  float64
 10  qtd_comodos_dormitorio_fam     96502 non-null  float64
 11  cod_material_piso_fam          96502 non-null  float64
 12  cod_material_domic_fam         96502 non-null  float64
 13  cod_agua_canalizada_fam        96502 non-null  float64
 14  cod_abaste_agua_domic_fam      96502 non-null  float64
 15  cod_banheiro_domic_fam         96502 non-null  float64
 16  cod_escoa_sanitario_domic_fam  96502 non-null  float64
 17  cod_destino_lixo_domic_fam     96502 non-null  float64
 18  cod_iluminacao_domic_fam       96502 non-null  float64
 19  cod_calcamento_domic_fam       96502 non-null  float64
 20  cod_familia_indigena_fam       96502 non-null  float64
 21  ind_familia_quilombola_fam     96502 non-null  float64
 22  ind_parc_mds_fam               96502 non-null  float64
 23  qtde_pessoas                   96502 non-null  object
 24  peso.fam                       96502 non-null  int64
 25  dias_cadastramento             96502 non-null  float64
 26  dias_atualizacao               96502 non-null  int64
 27  classe_renda                   96502 non-null  float64
dtypes: float64(19), int64(8), object(1)
memory usage: 20.6+ MB

In [104]:
# Verificar os tipos de dados diferentes na coluna 'id_familia'
tipos_id_familia = df_fam['id_familia'].apply(type).value_counts()

# Exibir os diferentes tipos encontrados e suas respectivas contagens
print(tipos_id_familia)

id_familia
<class 'int'>    96502
Name: count, dtype: int64

## Variáveis selecionadas da base família

In [105]:
# Verificar quantos valores ausentes existem na coluna 'id_familia'
valores_ausentes = df_fam['id_familia'].isna().sum()
print(f"Número de valores ausentes em 'id_familia': {valores_ausentes}")

Número de valores ausentes em 'id_familia': 0

## Variáveis a serem usadas da base família
### Domicílio
* qtde_pessoas
* dias_cadastramento
* dias_atualizacao
* qtd_comodos_domic_fam 
* uf_ibge
* cod_iluminacao_domic_fam
* classf 
* cod_material_piso_fam
* ind_parc_mds_fam
* cod_local_domic_fam

In [119]:
df_dom = df_fam.drop(columns=['regiao_ibge', 'estrato',
       'vlr_renda_media_fam', 'cod_especie_domic_fam',
       'qtd_comodos_dormitorio_fam',
       'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'peso.fam'])

In [120]:
df_dom.head()

,cd_ibge,uf_ibge,classf,id_familia,cod_local_domic_fam,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,2,268503,1.0,5.0,5.0,1.0,0.0,4,5128.0,102,0.0
1,2931905,29,3,2888440,2.0,2.0,2.0,1.0,0.0,2,2646.0,151,0.0
2,3527207,35,3,2113517,1.0,5.0,5.0,1.0,0.0,2,5979.0,482,2.0
3,3303500,33,2,4419096,1.0,3.0,5.0,1.0,0.0,2,238.0,238,0.0
4,2800308,28,1,4241219,1.0,4.0,5.0,1.0,0.0,1,5500.0,17,0.0

# Base de dados pessoas

## Variáveis a serem usadas da base pessoas

### Responsável familiar
* cod_parentesco_rf_pessoa
* idade
* cod_principal_trab_memb
* cod_deficiencia_memb
* cod_agricultura_trab_memb
* cod_sexo_pessoa
* cod_curso_frequentou_pessoa_memb
* cod_curso_frequenta_memb
* cod_trabalhou_memb
* cod_raca_cor_pessoa
* cod_concluiu_frequentou_memb

### Trabalho
* pct_empregado_com_carteira
* pct_militar_servidor
* pct_trabalho_12meses_adulto
* pct_conta_propria
* pct_empregado_sem_carteira
* pct_trabalho_12meses_idoso
* pct_trab_domestico_sem_carteira
* pct_extrativista
* pct_trabalho_12meses_crianca
* pct_trab_rural_temporario

### Escolaridade
* pct_freq_publica
* ideb_2017_municipio
* adultos_nunca_freq_escola
* pct_nao_alfabetizados
* pct_freq_creche
* pct_n_freq_escola
* pct_freq_particular
* pct_nunca_freq_escola

### Composição familiar
* pct_idosos
* pct_deficientes
* dias_cadastramento
* pct_1_infancia
* qtde_pessoas
* dias_atualizacao
* pct_adulto
* ind_parc_mds_fam
* pct_crianca

## Variáveis a serem mantidas
* cod_parentesco_rf_pessoa
* idade
* cod_principal_trab_memb
* cod_deficiencia_memb
* cod_agricultura_trab_memb
* cod_sexo_pessoa
* cod_curso_frequentou_pessoa_memb
* cod_curso_frequenta_memb
* cod_trabalhou_memb
* cod_raca_cor_pessoa
* cod_concluiu_frequentou_memb
* cod_trabalho_12_meses_memb
* cod_sabe_ler_escrever_memb
* ind_frequenta_escola_memb
* cod_curso_frequenta_memb
* ind_parc_mds_fam
* ideb_2017_municipio

In [90]:
import pandas as pd
import gc

In [61]:
# Load the datasets
df_pessoas = pd.read_csv('./Data/df_pessoas_final.csv', sep=',', dtype={4: 'str'})

In [62]:
df_pessoas.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,268503,2351897,2,4,3,1.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
1,268503,2578989,2,15,3,1.0,1.0,1,2,1.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694
2,268503,3312847,2,13,3,1.0,1.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
3,268503,10482075,2,38,1,1.0,2.0,1,2,1.0,...,4.0,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694
4,2888440,5553031,2,5,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236

In [63]:
df_pessoas.columns

Index(['id_familia', 'id_pessoa', 'cod_sexo_pessoa', 'idade',
       'cod_parentesco_rf_pessoa', 'cod_raca_cor_pessoa',
       'cod_local_nascimento_pessoa', 'cod_certidao_registrada_pessoa',
       'cod_deficiencia_memb', 'cod_sabe_ler_escrever_memb',
       'ind_frequenta_escola_memb', 'cod_escola_local_memb',
       'cod_curso_frequenta_memb', 'cod_ano_serie_frequenta_memb',
       'cod_curso_frequentou_pessoa_memb', 'cod_ano_serie_frequentou_memb',
       'cod_concluiu_frequentou_memb', 'cod_trabalhou_memb',
       'cod_afastado_trab_memb', 'cod_agricultura_trab_memb',
       'cod_principal_trab_memb', 'cod_trabalho_12_meses_memb',
       'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [41]:
df_pessoas = df_pessoas.drop(columns=['cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 
       'cod_afastado_trab_memb', 'qtd_meses_12_meses_memb', 'peso.pes'])

In [42]:
df_pessoas.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,ind_frequenta_escola_memb,cod_escola_local_memb,cod_curso_frequenta_memb,cod_ano_serie_frequenta_memb,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb
0,268503,2351897,2,4,3,1.0,2,2.0,1.0,1.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,268503,2578989,2,15,3,1.0,2,1.0,1.0,1.0,7.0,1.0,-1.0,-1.0,-1.0,2.0,-1.0,-1.0,2.0
2,268503,3312847,2,13,3,1.0,2,2.0,1.0,1.0,5.0,7.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,268503,10482075,2,38,1,1.0,2,1.0,3.0,-1.0,-1.0,-1.0,4.0,4.0,1.0,1.0,1.0,6.0,1.0
4,2888440,5553031,2,5,3,4.0,2,2.0,1.0,1.0,5.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [43]:
df_pessoas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254997 entries, 0 to 254996
Data columns (total 19 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_familia                        254997 non-null  int64
 1   id_pessoa                         254997 non-null  int64
 2   cod_sexo_pessoa                   254997 non-null  int64
 3   idade                             254997 non-null  int64
 4   cod_parentesco_rf_pessoa          254997 non-null  object
 5   cod_raca_cor_pessoa               254997 non-null  float64
 6   cod_deficiencia_memb              254997 non-null  int64
 7   cod_sabe_ler_escrever_memb        254997 non-null  float64
 8   ind_frequenta_escola_memb         254997 non-null  float64
 9   cod_escola_local_memb             254997 non-null  float64
 10  cod_curso_frequenta_memb          254997 non-null  float64
 11  cod_ano_serie_frequenta_memb      254997 non-null  float64
 12  cod_curso_frequentou_pessoa_memb  254997 non-null  float64
 13  cod_ano_serie_frequentou_memb     254997 non-null  float64
 14  cod_concluiu_frequentou_memb      254997 non-null  float64
 15  cod_trabalhou_memb                254997 non-null  float64
 16  cod_agricultura_trab_memb         254997 non-null  float64
 17  cod_principal_trab_memb           254997 non-null  float64
 18  cod_trabalho_12_meses_memb        254997 non-null  float64
dtypes: float64(13), int64(5), object(1)
memory usage: 37.0+ MB

In [45]:
# Converter a coluna 'cod_parentesco_rf_pessoa' para inteiro
df_pessoas['cod_parentesco_rf_pessoa'] = df_pessoas['cod_parentesco_rf_pessoa'].astype('int64')

In [46]:
df_pessoas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254997 entries, 0 to 254996
Data columns (total 19 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_familia                        254997 non-null  int64
 1   id_pessoa                         254997 non-null  int64
 2   cod_sexo_pessoa                   254997 non-null  int64
 3   idade                             254997 non-null  int64
 4   cod_parentesco_rf_pessoa          254997 non-null  int64
 5   cod_raca_cor_pessoa               254997 non-null  float64
 6   cod_deficiencia_memb              254997 non-null  int64
 7   cod_sabe_ler_escrever_memb        254997 non-null  float64
 8   ind_frequenta_escola_memb         254997 non-null  float64
 9   cod_escola_local_memb             254997 non-null  float64
 10  cod_curso_frequenta_memb          254997 non-null  float64
 11  cod_ano_serie_frequenta_memb      254997 non-null  float64
 12  cod_curso_frequentou_pessoa_memb  254997 non-null  float64
 13  cod_ano_serie_frequentou_memb     254997 non-null  float64
 14  cod_concluiu_frequentou_memb      254997 non-null  float64
 15  cod_trabalhou_memb                254997 non-null  float64
 16  cod_agricultura_trab_memb         254997 non-null  float64
 17  cod_principal_trab_memb           254997 non-null  float64
 18  cod_trabalho_12_meses_memb        254997 non-null  float64
dtypes: float64(13), int64(6)
memory usage: 37.0 MB

In [47]:
df_pessoas.shape

(254997, 19)

In [48]:
# Verificar os tipos de dados diferentes na coluna 'id_familia'
tipos_id_familia = df_pessoas['id_familia'].apply(type).value_counts()

# Exibir os diferentes tipos encontrados e suas respectivas contagens
print(tipos_id_familia)

id_familia
<class 'int'>    254997
Name: count, dtype: int64

In [49]:
# Verificar quantos valores ausentes existem na coluna 'id_familia'
valores_ausentes = df_pessoas['id_familia'].isna().sum()
print(f"Número de valores ausentes em 'id_familia': {valores_ausentes}")

Número de valores ausentes em 'id_familia': 0

In [50]:
# Verificar os tipos de dados diferentes na coluna 'id_pessoa'
tipos_id_pessoa = df_pessoas['id_pessoa'].apply(type).value_counts()

# Exibir os diferentes tipos encontrados e suas respectivas contagens
print(tipos_id_pessoa)

id_pessoa
<class 'int'>    254997
Name: count, dtype: int64

In [51]:
# Verificar quantos valores ausentes existem na coluna 'id_pessoa'
valores_ausentes = df_pessoas['id_pessoa'].isna().sum()
print(f"Número de valores ausentes em 'id_pessoa': {valores_ausentes}")

Número de valores ausentes em 'id_pessoa': 0

In [52]:
df_pessoas.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,ind_frequenta_escola_memb,cod_escola_local_memb,cod_curso_frequenta_memb,cod_ano_serie_frequenta_memb,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb
0,268503,2351897,2,4,3,1.0,2,2.0,1.0,1.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,268503,2578989,2,15,3,1.0,2,1.0,1.0,1.0,7.0,1.0,-1.0,-1.0,-1.0,2.0,-1.0,-1.0,2.0
2,268503,3312847,2,13,3,1.0,2,2.0,1.0,1.0,5.0,7.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,268503,10482075,2,38,1,1.0,2,1.0,3.0,-1.0,-1.0,-1.0,4.0,4.0,1.0,1.0,1.0,6.0,1.0
4,2888440,5553031,2,5,3,4.0,2,2.0,1.0,1.0,5.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [54]:
# Criar um dataframe de checagem apenas com a coluna 'id_familia' e colocar em ordem crescente
df_checagem = df_pessoas[['id_familia']].drop_duplicates().sort_values(by='id_familia').reset_index(drop=True)

# Exibir as primeiras linhas do dataframe de checagem
df_checagem.head()

   id_familia
0          14
1          36
2          57
3          65
4         124

## Criando novas variáveis

### Responsável familiar

In [53]:
# Filtrar apenas as pessoas responsáveis familiares (cod_parentesco_rf_pessoa == 1)
df_rf = df_pessoas[df_pessoas['cod_parentesco_rf_pessoa'] == 1]

# Agrupar pelo 'id_familia' e criar as novas colunas com base nas variáveis selecionadas
df_rf = df_rf.groupby('id_familia').agg(
    rf_idade=('idade', 'max'),
    rf_trab_principal=('cod_principal_trab_memb', 'max'),
    rf_com_deficiencia=('cod_deficiencia_memb', 'max'),
    rf_trab_agricultura=('cod_agricultura_trab_memb', 'max'),
    rf_sexo=('cod_sexo_pessoa', 'max'),
    rf_curso_frequentou=('cod_curso_frequentou_pessoa_memb', 'max'),
    rf_curso_frequenta=('cod_curso_frequenta_memb', 'max'),
    rf_trabalhou_semana=('cod_trabalhou_memb', 'max'),
    rf_cor_raca=('cod_raca_cor_pessoa', 'max'),
    rf_concluiu_curso=('cod_concluiu_frequentou_memb', 'max')
).reset_index()

# Exibir as primeiras linhas do dataframe resultante
df_rf.head()

,id_familia,rf_idade,rf_trab_principal,rf_com_deficiencia,rf_trab_agricultura,rf_sexo,rf_curso_frequentou,rf_curso_frequenta,rf_trabalhou_semana,rf_cor_raca,rf_concluiu_curso
0,14,20,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,1.0
1,36,30,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,2.0
2,57,20,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,1.0
3,65,48,-1.0,2,-1.0,2,4.0,-1.0,2.0,4.0,1.0
4,124,23,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,1.0

In [91]:
gc.collect()

77096

### Trabalho

In [64]:
# Load the datasets
df_fam_pessoas = pd.read_csv('./Data/df_familia_pessoa_final.csv', sep=',', dtype={4: 'str'})

In [65]:
df_fam_pessoas.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
1,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694
2,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
3,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,4.0,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694
4,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236

In [73]:
df_fam_pessoas.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'idade', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
       'cod_escola_local_memb', 'cod_curso_frequenta_memb',
       'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [76]:
# Lista de colunas a serem removidas
colunas_para_remover = [
    'cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 
    'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
    'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
    'cod_material_piso_fam', 'cod_material_domic_fam',
    'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
    'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
    'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
    'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
    'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
    'cod_sexo_pessoa', 'cod_parentesco_rf_pessoa',
    'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
    'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
    'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
    'cod_escola_local_memb', 'cod_curso_frequenta_memb',
    'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
    'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
    'cod_trabalhou_memb', 'cod_afastado_trab_memb', 'qtd_meses_12_meses_memb', 'peso.pes'
]

# Filtrar apenas as colunas que existem no dataframe
colunas_existentes_para_remover = [col for col in colunas_para_remover]

# Remover as colunas
df_fam_pessoas_tab = df_fam_pessoas.drop(columns=colunas_existentes_para_remover)

# Exibir as primeiras linhas do dataframe resultante
df_fam_pessoas_tab.head()

,id_familia,qtde_pessoas,id_pessoa,idade,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb
0,268503,4,2351897,4,-1.0,-1.0,-1.0
1,268503,4,2578989,15,-1.0,-1.0,2.0
2,268503,4,3312847,13,-1.0,-1.0,-1.0
3,268503,4,10482075,38,1.0,6.0,1.0
4,2888440,2,5553031,5,-1.0,-1.0,-1.0

In [77]:
# Calcular percentual de pessoas por características de trabalho

df_trabalho = df_fam_pessoas_tab.groupby('id_familia').apply(
    lambda x: pd.Series({
        'pct_extrativista': ((x['cod_agricultura_trab_memb'] == 1) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_conta_propria': ((x['cod_principal_trab_memb'] == 1) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_trab_rural_temporario': ((x['cod_principal_trab_memb'] == 2) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_empregado_sem_carteira': ((x['cod_principal_trab_memb'] == 3) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_empregado_com_carteira': ((x['cod_principal_trab_memb'] == 4) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_trab_domestico_sem_carteira': ((x['cod_principal_trab_memb'] == 5) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_militar_servidor': ((x['cod_principal_trab_memb'] == 8) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_trabalho_12meses_adulto': ((x['cod_trabalho_12_meses_memb'] == 1) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_trabalho_12meses_idoso': ((x['cod_trabalho_12_meses_memb'] == 1) & (x['idade'] >= 60)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_trabalho_12meses_crianca': ((x['cod_trabalho_12_meses_memb'] == 1) & (x['idade'] < 18)).sum() / x['qtde_pessoas'].iloc[0],
    })
).reset_index()

In [78]:
df_trabalho.head()

,id_familia,pct_extrativista,pct_conta_propria,pct_trab_rural_temporario,pct_empregado_sem_carteira,pct_empregado_com_carteira,pct_trab_domestico_sem_carteira,pct_militar_servidor,pct_trabalho_12meses_adulto,pct_trabalho_12meses_idoso,pct_trabalho_12meses_crianca
0,14,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0
1,36,0.0,0.50,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0
2,57,0.0,0.50,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0
3,65,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.250000,0.0,0.0
4,124,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [95]:
gc.collect()

1814

## Escolaridade

In [86]:
df_fam_pessoas.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'idade', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
       'cod_escola_local_memb', 'cod_curso_frequenta_memb',
       'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [87]:
# Lista de colunas a serem removidas
colunas_para_remover = [
    'cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_escola_local_memb', 'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'
]

# Filtrar apenas as colunas que existem no dataframe
colunas_existentes_para_remover = [col for col in colunas_para_remover]

# Remover as colunas
df_fam_pessoas_escola = df_fam_pessoas.drop(columns=colunas_existentes_para_remover)

# Exibir as primeiras linhas do dataframe resultante
df_fam_pessoas_escola.head()

,id_familia,qtde_pessoas,idade,cod_sabe_ler_escrever_memb,ind_frequenta_escola_memb,cod_curso_frequenta_memb
0,268503,4,4,2.0,1.0,2.0
1,268503,4,15,1.0,1.0,7.0
2,268503,4,13,2.0,1.0,5.0
3,268503,4,38,1.0,3.0,-1.0
4,2888440,2,5,2.0,1.0,5.0

In [96]:
df_escola = df_fam_pessoas_escola.groupby('id_familia').apply(
    lambda x: pd.Series({'pct_nao_alfabetizados': ((x['cod_sabe_ler_escrever_memb'] == 2) & (x['idade'] >= 10)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_n_freq_escola': ((x['ind_frequenta_escola_memb'] == 3) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_freq_publica': ((x['ind_frequenta_escola_memb'] == 1) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_freq_particular': ((x['ind_frequenta_escola_memb'] == 2) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_adulto_nunca_freq_escola': ((x['ind_frequenta_escola_memb'] == 4) & (x['idade'] >= 18)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_escolar_nunca_freq_escola': ((x['ind_frequenta_escola_memb'] == 4) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_freq_creche': ((x['cod_curso_frequenta_memb'] == 1) & (x['idade'] < 4)).sum() / x['qtde_pessoas'].iloc[0],
         })
).reset_index()

In [97]:
df_escola.head()

,id_familia,pct_nao_alfabetizados,pct_n_freq_escola,pct_freq_publica,pct_freq_particular,pct_adulto_nunca_freq_escola,pct_escolar_nunca_freq_escola,pct_freq_creche
0,14,0.333333,0.00,0.00,0.0,0.0,0.00,0.000000
1,36,0.000000,0.00,0.25,0.0,0.0,0.25,0.000000
2,57,0.000000,0.25,0.00,0.0,0.0,0.00,0.000000
3,65,0.000000,0.00,0.25,0.0,0.0,0.00,0.000000
4,124,0.000000,0.00,0.00,0.0,0.0,0.00,0.333333

In [ ]:
gc.collect()

## Composição familiar

In [114]:
# Load the datasets
df_fam_pessoas = pd.read_csv('./Data/df_familia_pessoa_final.csv', sep=',', dtype={4: 'str'})

In [115]:
df_fam_pessoas.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'idade', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
       'cod_escola_local_memb', 'cod_curso_frequenta_memb',
       'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [116]:
# Lista de colunas a serem removidas
colunas_para_remover = [
    'cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'peso.fam', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_escola_local_memb', 'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'
]

# Filtrar apenas as colunas que existem no dataframe
colunas_existentes_para_remover = [col for col in colunas_para_remover]

# Remover as colunas
df_composicao = df_fam_pessoas.drop(columns=colunas_existentes_para_remover)

# Exibir as primeiras linhas do dataframe resultante
df_composicao.head()

,id_familia,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,dias_atualizacao,idade,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,ind_frequenta_escola_memb,cod_curso_frequenta_memb
0,268503,0.0,4,5128.0,102,4,2,2.0,1.0,2.0
1,268503,0.0,4,5128.0,102,15,2,1.0,1.0,7.0
2,268503,0.0,4,5128.0,102,13,2,2.0,1.0,5.0
3,268503,0.0,4,5128.0,102,38,2,1.0,3.0,-1.0
4,2888440,0.0,2,2646.0,151,5,2,2.0,1.0,5.0

In [117]:
# CRIANDO DF VARIÁVEIS PESSOAS ANALISADAS POR FAMILIA

# Nova função para calcular a existência da característica
def verifica_caracteristica(x, condicao):
    return 1 if condicao.any() else 0

# Calcular percentual pessoas com determinada característica por familia
df_composicao = df_fam_pessoas_composicao.groupby('id_familia').apply(
    lambda x: pd.Series({
        'pct_idosos': (x['idade'] >= 60).sum() / x['qtde_pessoas'].iloc[0],
        'pct_deficientes': (x['cod_deficiencia_memb'] == 1).sum() / x['qtde_pessoas'].iloc[0],
        'pct_1_infancia': (x['idade'] <= 6).sum() / x['qtde_pessoas'].iloc[0],
        'pct_adulto': ((x['idade'] >= 18) & (x['idade'] < 60)).sum() / x['qtde_pessoas'].iloc[0],
        'pct_crianca_adolescente': ((x['idade'] > 6) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
        'ind_parc_mds_fam_0_1': verifica_caracteristica(x, x['ind_parc_mds_fam'] != 1)

    })
    # Removing include_groups as it's deprecated
).reset_index()

In [118]:
df_composicao.head()

,id_familia,pct_idosos,pct_deficientes,pct_1_infancia,pct_adulto,pct_crianca_adolescente,ind_parc_mds_fam_0_1
0,14,0.0,0.0,0.333333,0.666667,0.00,1.0
1,36,0.0,0.0,0.250000,0.500000,0.25,1.0
2,57,0.0,0.0,0.000000,0.750000,0.25,1.0
3,65,0.0,0.0,0.000000,0.750000,0.25,1.0
4,124,0.0,0.0,0.666667,0.333333,0.00,1.0

# Juntando os novos dataframes com as variáveis importantes

In [121]:
from functools import reduce

# Lista com os dataframes a serem mesclados
dfs = [df_fam_dom, df_rf, df_trabalho, df_escola, df_composicao]

# Mesclando todos os dataframes na lista usando a chave 'id_familia'
df_modelo = reduce(lambda left, right: pd.merge(left, right, on='id_familia', how='inner'), dfs)

# Exibindo as primeiras linhas do dataframe unificado
df_modelo.head()

,cd_ibge,uf_ibge,classf,id_familia,cod_local_domic_fam,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,ind_parc_mds_fam,qtde_pessoas,...,pct_freq_particular,pct_adulto_nunca_freq_escola,pct_escolar_nunca_freq_escola,pct_freq_creche,pct_idosos,pct_deficientes,pct_1_infancia,pct_adulto,pct_crianca_adolescente,ind_parc_mds_fam_0_1
0,4212908,42,2,268503,1.0,5.0,5.0,1.0,0.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.25,0.25,0.5,1.0
1,2931905,29,3,2888440,2.0,2.0,2.0,1.0,0.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0
2,3527207,35,3,2113517,1.0,5.0,5.0,1.0,0.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0
3,3303500,33,2,4419096,1.0,3.0,5.0,1.0,0.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0
4,2800308,28,1,4241219,1.0,4.0,5.0,1.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0

# Juntando com a base do ideb

In [122]:
# Dataframe a partir dos dados atualizados até 2023 do IDEB
df_ideb_anos_iniciais = pd.read_excel('./Analises_Risla/ideb_anos_iniciais_municipios_2023.xlsx', header=1)

In [123]:
df_ideb_anos_iniciais.head()

,Sigla da UF,Código do Município,Nome do Município,Rede,2005,2008,2009,2011,2013,2015,2017,2019,2021,2023
0,RO,1100015.0,Alta Floresta D'Oeste,Estadual,3.5,3.9,4.3,4.2,5.3,5.8,6.2,5.8,4.6,5.9
1,RO,1100015.0,Alta Floresta D'Oeste,Municipal,-,-,-,-,-,5,5.1,4.7,4.8,5.1
2,RO,1100015.0,Alta Floresta D'Oeste,Pública,3.7,4,4.5,4.3,5.4,5.8,6.2,5.7,4.8,5.3
3,RO,1100023.0,Ariquemes,Estadual,4,4.3,4.9,4.9,5.2,5.6,6,5.3,5.8,6.1
4,RO,1100023.0,Ariquemes,Municipal,3.5,3.7,4.2,4.4,4.8,5,5.4,5.1,4.5,5.3

In [124]:
df_ideb_anos_iniciais.isna().sum()

Sigla da UF             1
Código do Município    17
Nome do Município      17
Rede                   17
2005                   17
2008                   17
2009                   17
2011                   17
2013                   17
2015                   17
2017                   17
2019                   17
2021                   17
2023                   17
dtype: int64

In [125]:
df_ideb_anos_iniciais = df_ideb_anos_iniciais.dropna()

In [126]:
df_ideb_anos_iniciais.columns

Index([        'Sigla da UF', 'Código do Município',   'Nome do Município',
                      'Rede',                  2005,                  2008,
                        2009,                  2011,                  2013,
                        2015,                  2017,                  2019,
                        2021,                  2023],
      dtype='object')

In [127]:
df_ideb_anos_iniciais['Código do Município'] = df_ideb_anos_iniciais['Código do Município'].astype(int)

In [128]:
df_ideb_anos_iniciais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14497 entries, 0 to 14496
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sigla da UF          14497 non-null  object
 1   Código do Município  14497 non-null  int32
 2   Nome do Município    14497 non-null  object
 3   Rede                 14497 non-null  object
 4   2005                 14497 non-null  object
 5   2008                 14497 non-null  object
 6   2009                 14497 non-null  object
 7   2011                 14497 non-null  object
 8   2013                 14497 non-null  object
 9   2015                 14497 non-null  object
 10  2017                 14497 non-null  object
 11  2019                 14497 non-null  object
 12  2021                 14497 non-null  object
 13  2023                 14497 non-null  object
dtypes: int32(1), object(13)
memory usage: 1.6+ MB

In [129]:
ideb_municipio_publica = df_ideb_anos_iniciais[df_ideb_anos_iniciais['Rede'] == 'Pública']

In [130]:
ideb_municipio_publica[                  2017].value_counts()

2017
6.2    224
6.3    214
6.4    213
6.5    211
6.0    210
      ...
9.1      1
2.7      1
8.3      1
8.6      1
8.7      1
Name: count, Length: 61, dtype: int64

In [131]:
ideb_municipio_publica = ideb_municipio_publica[ideb_municipio_publica[                  2017]!= '-']

In [132]:
ideb_municipio_publica[                  2017] = ideb_municipio_publica[                  2017].astype(float)

In [133]:
ideb_municipio_publica.columns.values[-4] = 'ideb_2017_municipio'

In [134]:
ideb_municipio_publica.columns = ideb_municipio_publica.columns.str.strip()
print(ideb_municipio_publica.columns)

Index([        'Sigla da UF', 'Código do Município',   'Nome do Município',
                      'Rede',                   nan,                   nan,
                         nan,                   nan,                   nan,
                         nan, 'ideb_2017_municipio',                   nan,
                         nan,                   nan],
      dtype='object')

In [135]:
ideb_municipio_publica_2017 = ideb_municipio_publica[['Código do Município', 'ideb_2017_municipio']]

In [136]:
ideb_municipio_publica_2017.head()

    Código do Município  ideb_2017_municipio
2               1100015                  6.2
5               1100023                  5.5
8               1100031                  6.1
11              1100049                  6.3
14              1100056                  6.4

In [137]:
df_modelo = df_modelo.merge(ideb_municipio_publica_2017, left_on='cd_ibge', right_on='Código do Município', how='left')

In [138]:
ideb_municipio_publica_2017.isnull().sum()

Código do Município    0
ideb_2017_municipio    0
dtype: int64

In [139]:
df_modelo = df_modelo.drop('Código do Município', axis=1)
df_modelo.head()

,cd_ibge,uf_ibge,classf,id_familia,cod_local_domic_fam,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,ind_parc_mds_fam,qtde_pessoas,...,pct_adulto_nunca_freq_escola,pct_escolar_nunca_freq_escola,pct_freq_creche,pct_idosos,pct_deficientes,pct_1_infancia,pct_adulto,pct_crianca_adolescente,ind_parc_mds_fam_0_1,ideb_2017_municipio
0,4212908,42,2,268503,1.0,5.0,5.0,1.0,0.0,4,...,0.0,0.0,0.0,0.0,0.0,0.25,0.25,0.5,1.0,6.3
1,2931905,29,3,2888440,2.0,2.0,2.0,1.0,0.0,2,...,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0,5.1
2,3527207,35,3,2113517,1.0,5.0,5.0,1.0,0.0,2,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0,5.7
3,3303500,33,2,4419096,1.0,3.0,5.0,1.0,0.0,2,...,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0,4.7
4,2800308,28,1,4241219,1.0,4.0,5.0,1.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0,4.6

In [140]:
df_modelo = df_modelo.drop('cd_ibge', axis=1)
df_modelo.head()

,uf_ibge,classf,id_familia,cod_local_domic_fam,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,...,pct_adulto_nunca_freq_escola,pct_escolar_nunca_freq_escola,pct_freq_creche,pct_idosos,pct_deficientes,pct_1_infancia,pct_adulto,pct_crianca_adolescente,ind_parc_mds_fam_0_1,ideb_2017_municipio
0,42,2,268503,1.0,5.0,5.0,1.0,0.0,4,5128.0,...,0.0,0.0,0.0,0.0,0.0,0.25,0.25,0.5,1.0,6.3
1,29,3,2888440,2.0,2.0,2.0,1.0,0.0,2,2646.0,...,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0,5.1
2,35,3,2113517,1.0,5.0,5.0,1.0,0.0,2,5979.0,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0,5.7
3,33,2,4419096,1.0,3.0,5.0,1.0,0.0,2,238.0,...,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0,4.7
4,28,1,4241219,1.0,4.0,5.0,1.0,0.0,1,5500.0,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0,4.6

In [141]:
df_modelo.isnull().sum()

uf_ibge                              0
classf                               0
id_familia                           0
cod_local_domic_fam                  0
qtd_comodos_domic_fam                0
cod_material_piso_fam                0
cod_iluminacao_domic_fam             0
ind_parc_mds_fam                     0
qtde_pessoas                         0
dias_cadastramento                   0
dias_atualizacao                     0
classe_renda                         0
rf_idade                             0
rf_trab_principal                    0
rf_com_deficiencia                   0
rf_trab_agricultura                  0
rf_sexo                              0
rf_curso_frequentou                  0
rf_curso_frequenta                   0
rf_trabalhou_semana                  0
rf_cor_raca                          0
rf_concluiu_curso                    0
pct_extrativista                     0
pct_conta_propria                    0
pct_trab_rural_temporario            0
pct_empregado_sem_carteira           0
pct_empregado_com_carteira           0
pct_trab_domestico_sem_carteira      0
pct_militar_servidor                 0
pct_trabalho_12meses_adulto          0
pct_trabalho_12meses_idoso           0
pct_trabalho_12meses_crianca         0
pct_nao_alfabetizados                0
pct_n_freq_escola                    0
pct_freq_publica                     0
pct_freq_particular                  0
pct_adulto_nunca_freq_escola         0
pct_escolar_nunca_freq_escola        0
pct_freq_creche                      0
pct_idosos                           0
pct_deficientes                      0
pct_1_infancia                       0
pct_adulto                           0
pct_crianca_adolescente              0
ind_parc_mds_fam_0_1                 0
ideb_2017_municipio                212
dtype: int64

In [142]:
# Como há valores ausente no ideb, o que significa que não há dado sobre aquele município, será necessário indicar 
# para o modelo a ausência de dados
df_modelo['ideb_ausente'] = df_modelo['ideb_2017_municipio'].isnull().astype(int)

# Preencher os valores ausentes com um valor especial (-1) na coluna ideb_2017_municipio
df_modelo['ideb_2017_municipio'].fillna(-1, inplace=True)

# Exibindo as primeiras linhas para verificar a transformação
df_modelo[['ideb_2017_municipio', 'ideb_ausente']].head()

   ideb_2017_municipio  ideb_ausente
0                  6.3             0
1                  5.1             0
2                  5.7             0
3                  4.7             0
4                  4.6             0

In [143]:
df_modelo.head()

,uf_ibge,classf,id_familia,cod_local_domic_fam,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,...,pct_escolar_nunca_freq_escola,pct_freq_creche,pct_idosos,pct_deficientes,pct_1_infancia,pct_adulto,pct_crianca_adolescente,ind_parc_mds_fam_0_1,ideb_2017_municipio,ideb_ausente
0,42,2,268503,1.0,5.0,5.0,1.0,0.0,4,5128.0,...,0.0,0.0,0.0,0.0,0.25,0.25,0.5,1.0,6.3,0
1,29,3,2888440,2.0,2.0,2.0,1.0,0.0,2,2646.0,...,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0,5.1,0
2,35,3,2113517,1.0,5.0,5.0,1.0,0.0,2,5979.0,...,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0,5.7,0
3,33,2,4419096,1.0,3.0,5.0,1.0,0.0,2,238.0,...,0.0,0.0,0.0,0.0,0.50,0.50,0.0,1.0,4.7,0
4,28,1,4241219,1.0,4.0,5.0,1.0,0.0,1,5500.0,...,0.0,0.0,0.0,0.0,0.00,1.00,0.0,1.0,4.6,0

In [144]:
# Salvando a amostra completa fam_pessoa no arquivo CSV
df_modelo.to_csv('./Data_modelo/df_modelo.csv', index=False)

In [147]:
df_modelo.shape

(96502, 47)